Meta
doc
.swp
.*.swp
.DS_Store
.RData
.Rhistory
..Rcheck
src/*.rds
test-pkg.output
*.log
src-i386
src-x64
peaks.tsv
.build.timestamp
vignettes/*.md
mirbase-mature.csv
examples/*.output
examples/*.err
biodb_*.tgz
biodb_*.tar.gz
biodb.Rcheck
vignettes/figure
cache
tests/*/output
longtests/*/output
vignettes/*.R
vignettes/*.html
vignettes/*.csv
/doc/
/Meta/
check.Renviron
codecov.yml
cache.long
Renviron.bioc
testthat-problems.rds
biodb.BiocCheck
